.cache/
.vs/
.vscode/
Testing/
Debug/
Release/
build/
out/
vcpkg_installed/
CMakeSettings.json
compile_commands.json
*.sqlite
/html/
.aider*
/ddl2cpp.yml
/test.db
_codeql_build_dir/
_codeql_detected_source_root
